<div class="content">
  <div class="container">
    <div class="row">
      <app-nav-bar></app-nav-bar>
      <br>
      <br>
      <br>
      <!-- Illustration -->
      <div class="col-md-6">
        <img
          ngSrc="assets/554.jpg"
          width="700"
          height="450"
          alt="Description of image"
        />
      </div>

      <!-- Login Form -->
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Sign In</h3>
              <p class="mb-4">
                Welcome back! Please enter your email and password to access your account.
              </p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group first mb-3">
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  placeholder="Your email"
                />
              </div>
              <div class="form-group last mb-4">
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="Your password"
                />
              </div>
              <div class="d-flex mb-4 align-items-center">
                <span class="ml-auto">
                  <a
                    class="nav-link cursor-pointer p-0"
                    (click)="router.navigate(['/register'])"
                  >
                    Don't have an account?
                  </a>
                </span>
              </div>
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary w-100">
                Log In
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
