.cursor-pointer {
  cursor: pointer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8); /* translucent white */
  display: flex;
  align-items: center;    /* vertical centering */
  justify-content: center;/* horizontal centering */
  z-index: 2000;          /* on top of most other content */
}

.loading-overlay .spinner-border,
.loading-overlay .spinner-grow {
  width: 4rem;
  height: 4rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
